.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
.row {
  text-align: center;

}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */


.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.box {
  color: black;
  padding: 1em;
  /* float: left; */
  height: 600px;
}

.visualizer {
  box-sizing: border-box;
  height: 80%;
}

/* .left {
  background-color: red;
}

.right {
  background-color: green;
} */




.algorithm-selector {
  height: 200px;
}